              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    
                    <img src="profile2.JPG" height="220" width="200">     
                  
                  </li>                 
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">       
                  <p>
                  </p> 
                  <li>        
                    Third Year PhD Student
                  </li>  
                 <p>
                 </p>       
              <li> 
                Saftey and Reliability
              </li>  
                 <p>
                  </p>                   
              <li> 
                Bayesian Networks
              </li>                     
                    
                    
                    
                    
                    
                  
                </ul>
              </div>
              <!-- /.col-lg-6 -->
