              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    
                    <img src="profile4.JPG" height="190" width="130">     
                  
                  </li>                 
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">       
                  <p>
                  </p> 
                  <li>        
               <b> Haoyuan Zhang </b>
                  </li>  
                 <p>
                 </p>       
                 <p>
                 </p>  
              <li> 
                Third-year PhD Candidate in Computer Science, Queen Mary University of London
              </li>  
                
                    
                  
                </ul>
              </div>
              <!-- /.col-lg-6 -->
