              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    
                    <img src="profile4.JPG" height="190" width="130">     
                  
                  </li>                 
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">       
                  <p>
                  </p> 
                  <li>        
                Haoyuan Zhang
                  </li>  
                 <p>
                 </p>       
              <li> 
                3rd year PhD student in computer science
              </li>  
                 <p>
                  </p>                   
              <li> 
                Research about using Hierarchical Bayesian models for safety and reliability problems
              </li>                     
           
                    
                  
                </ul>
              </div>
              <!-- /.col-lg-6 -->
