            <ul class="list-unstyled">
              <li>
                    <img src="_includes/google.png"/ class="img-circle"/ alt="">
                    <a href="https://scholar.google.co.uk/citations?user=gc4d914AAAAJ&hl=en">
                      Google Scholarssfdasfass
                    </a>
                  </li>  
              <li>
                    <img class="profile-picture" src="/_includes/linkedin.png"/>
                    <a href="https://www.linkedin.com/in/haoyuan-zhang-b4541492/?trk=hp-identity-photo">
                      LinkedIN
                    </a>
                  </li>
              <li>
                <a href="" target="_blank">
                  Curriculum vitae
                </a>
              </li>
              <li>
                <a href="" target="_blank">
                  Codes
                </a>
              </li>			  
            </ul>
