                  <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="https://scholar.google.co.uk/citations?user=gc4d914AAAAJ&hl=en">
                      Google Scholar
                    </a>
                  </li>                 
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">       
                  <li>
                    <img class="profile-picture" src="google.png">
                    <a href="https://www.linkedin.com/in/haoyuan-zhang-b4541492/?trk=hp-identity-photo">
                      LinkedIN
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
            <ul class="list-unstyled">
              <li>
                <a href="http://www.qmul.ac.uk/" target="_blank">
                  Queen Mary University of London
                </a>
              </li>
              <li>
                <a href="http://www.hku.hk/" target="_blank">
                  The University of Hong Kong
                </a>
              </li>	
              <li>
                <a href="https://www.jnu.edu.cn/" target="_blank">
                  Jinan University
                </a>
              </li>				  
            </ul>
